.wrapper {
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  /* Cross Axis */
  align-items: center;
  height: 200vh;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}
