@import "_variables";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  nav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 32px;
    text-transform: lowercase;
    ul {
      display: flex;
      align-items: center;
      padding: 0px 15px;
      &:hover {
        background-color: gainsboro;
      }
      li {
        cursor: pointer;
        margin-right: 50px;
      }
      &:first-child {
        &:hover {
          li:not(:first-child) {
            color: white !important;
          }
        }
        li {
          &:first-child {
            margin-right: 120px;
          }
          &:not(:first-child) {
            color: gainsboro;
            margin-right: 50px;
          }
        }
      }
    }
  }
}

main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 45vh;
  article {
    cursor: pointer;
    height: 100%;
    display: grid;
    grid-template-rows: 10fr 0.8fr;
    img {
      min-width: 100%;
      height: 100%;
    }
    div {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      padding-left: 10px;
      h3 {
        font-size: 14px;
      }
    }
  }
}
