@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 40px;
}

.header {
  width: 100%;
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0px 10px;
  h1 {
    font-size: 22px;
    text-transform: uppercase;
  }
  nav {
    ul {
      display: flex;
      li {
        font-size: 20px;
        display: flex;
        align-items: center;
        &:nth-child(3n + 1) {
          span {
            background-color: #e4c464;
          }
        }
        &:nth-child(3n + 2) {
          span {
            background-color: #56854a;
          }
        }
        &:nth-child(3n + 3) {
          span {
            background-color: #97c2de;
          }
        }
        span {
          margin-right: 5px;
          height: 15px;
          width: 15px;
          background-color: red;
          border-radius: 50%;
        }
        a {
          color: inherit;
          text-decoration: none;
          text-transform: uppercase;
        }
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 55vh;
  .post {
    cursor: pointer;
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .post__header,
    footer {
      display: flex;
      justify-content: space-between;
      letter-spacing: 1px;
    }
    &:nth-child(3n + 1) {
      background-color: #dd433e;
    }
    &:nth-child(3n + 2) {
      background-color: #e4c874;
    }
    &:nth-child(3n + 3) {
      background-color: #198ca1;
    }
    &:nth-child(3n + 4) {
      background-color: #ec9860;
    }
    &:nth-child(3n + 5) {
      background-color: #ccb2a2;
    }
    .post__content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        letter-spacing: 2px;
        line-height: 1.3;
        font-size: 26px;
        text-align: center;
      }
      .invisible {
        display: none;
        height: 100%;
        width: 100%;
        background-image: url("https://images.prismic.io/beige/3479dcfd-17b4-4391-8b1c-506801d60786_Beige-Mode-Fashion-Menswear-Trends-2020-Gucci-Cruise-5.jpg?auto=compress,format?auto=format,compress&q=60&fit=crop&w=1200&h=1920");
        background-position: center center;
        background-size: cover;
      }
    }
    &:hover {
      .post__content {
        .visible {
          display: none;
        }
        .invisible {
          display: block;
        }
      }
    }
  }
}
